@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        Mi nombre es Jaime Rios Soy de Colombia Medellin y soy Programador en los lenguajes de Java, 
        C++, C#, NodeJS, Android, Python, Xamarin, JavaScript, base de datos MySQL y SQL Server
    </p>
</div>

